<ion-header>
    <ion-toolbar>
        <ion-title>Inicio</ion-title>
    </ion-toolbar>
</ion-header>

<ion-searchbar animated (ionChange)="buscar($event)"></ion-searchbar>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let funda of fundaciones">
            <ion-grid>
                <ion-row>
                    <h3 style="font-weight: bold;">{{funda.element.nombre}} - {{funda.element.provincia}} - {{funda.element.ciudad}}</h3>
                </ion-row>
                <ion-row>
                    <ion-slides pager="true">
                        <ion-slide *ngFor="let perro of funda.dat.perroBD | filtro: textoBUscar">
                            <ion-card (click)="queryParams(perro)">
                                <ion-img [src]="perro.img" style="border-radius: 10px !important"></ion-img>
                                <ion-card-header>
                                    <ion-card-title>{{perro.nombre}} </ion-card-title>
                                    <ion-card-subtitle>{{perro.edad}}</ion-card-subtitle>
                                </ion-card-header>
                            </ion-card>
                        </ion-slide>
                    </ion-slides>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>

</ion-content>