<app-header titulo="Home">
</app-header>

<ion-searchbar animated (ionChange)="buscar($event)"></ion-searchbar>

<ion-content>
<ion-grid>
    <ion-row>
      <ion-col *ngFor="let perro of perros | filtro: textoBUscar">
        <ion-card (click)="queryParams(perro)">
          <ion-img [src]="perro.img"  style="border-radius: 2px"></ion-img>
          <ion-card-content >
            <ion-label><h3>{{perro.nombre}}</h3></ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>


