<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button style="color: aliceblue ;"></ion-menu-button>
        </ion-buttons>
        <ion-title>Configuraciones</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-button expand="block" color="medium" (click)="changeTheme('autumn')">Autumn</ion-button>
    <ion-button expand="block" color="medium" (click)="changeTheme('night')">Dark</ion-button>
    <ion-button expand="block" color="medium" (click)="changeTheme('neon')">Neon</ion-button>
    <ion-button expand="block" color="medium" (click)="changeTheme('')">Default</ion-button>


</ion-content>