<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button style="color: aliceblue ;"></ion-menu-button>
        </ion-buttons>
        <ion-title>Perfil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h3 position="fixed" style="margin-top: 20px; margin-left: 10px; font-weight: bold;">Detalles:</h3>

    <ion-item>
        <ion-label position="fixed">Nombre:</ion-label>
        <ion-label> {{nombre}}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label position="fixed">Apellido:</ion-label>
        <ion-label> {{apellido}}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label position="fixed">Correo:</ion-label>
        <ion-label> {{email}}</ion-label>
    </ion-item>


</ion-content>