<app-header titulo={{data.nombre}}>
</app-header>

<ion-content>
    <ion-card>
        <img [src]="data.img" />
        <ion-card-header>
            <ion-card-title>{{data.ciudad}}</ion-card-title>
            <ion-card-subtitle>Telefono: {{data.telefono}} </ion-card-subtitle>
            <ion-card-subtitle>Email: {{data.email}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            {{data.terminosCondiciones}}

        </ion-card-content>
    </ion-card>

    <ion-toolbar>
        <ion-title size="small">Mascotas de la fundacion</ion-title>
        <ion-searchbar animated (ionChange)="buscar($event)"></ion-searchbar>
    </ion-toolbar>


    <ion-list>
        <ion-item *ngFor="let perro of perros | filtro: textoBUscar">
            <ion-card (click)="queryParams(perro)">
                <ion-card-header>
                    <ion-card-title>{{perro.nombre}}</ion-card-title>
                    <ion-card-subtitle>{{perro.edad}}</ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                    {{perro.direccion}}
                    <img [src]="perro.img">
                </ion-card-content>
            </ion-card>


        </ion-item>
    </ion-list>

</ion-content>