<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="fundaciones">
            <ion-icon name="person"></ion-icon>
            <ion-label>Fundaciones</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="perros">
            <ion-icon name="person-circle"></ion-icon>
            <ion-label>Inicio</ion-label>

        </ion-tab-button>

        <ion-tab-button tab="adopcion">
            <ion-icon name="map"></ion-icon>
            <ion-label>Adopciones</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>