<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-img src="/assets/img/perrito.png"></ion-img>
            <ion-card-title>Registrarse</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label position="floating">
                        <ion-icon name="person-outline"></ion-icon> Nombre</ion-label>
                    <ion-input type="email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">
                        <ion-icon name="person-outline"></ion-icon> Apellido</ion-label>
                    <ion-input type="email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">
                        <ion-icon name="mail-outline"></ion-icon> Correo Electronico</ion-label>
                    <ion-input type="email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">
                        <ion-icon name="lock-closed-outline"></ion-icon> Contraseña</ion-label>
                    <ion-input type="password"></ion-input>
                </ion-item>
            </ion-list>
            <div class="center">
                <ion-button shape="round" size="default">
                    <ion-icon slot="start" name="navigate-outline"></ion-icon>
                    Enviar
                </ion-button>
                <hr>
                <a routerLink="/login">Iniciar Sesión</a>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>