<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-img src="/assets/img/perrito.png"></ion-img>
            <ion-card-title>Registrarse</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <form #form="ngForm" (ngSubmit)="register(form)" method="post">
                <ion-list>
                    <ion-item>
                        <ion-label position="floating">
                            <ion-icon name="person-outline"></ion-icon> Nombre</ion-label>
                        <ion-input ngModel type="text" name="nombre"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">
                            <ion-icon name="person-outline"></ion-icon> Apellido</ion-label>
                        <ion-input ngModel type="text" name="apellido"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">
                            <ion-icon name="mail-outline"></ion-icon> Correo Electronico</ion-label>
                        <ion-input ngModel type="email" name="email"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">
                            <ion-icon name="lock-closed-outline"></ion-icon> Contraseña</ion-label>
                        <ion-input ngModel type="password" name="password"></ion-input>
                    </ion-item>
                </ion-list>
                <div class="center">
                    <ion-button type="submit" shape="round" size="default">
                        <ion-icon slot="start" name="navigate-outline"></ion-icon>
                        Enviar
                    </ion-button>
                    <hr>
                    <a routerLink="/login">Iniciar Sesión</a>
                </div>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>