<app-header titulo={{data.nombre}}></app-header>

<ion-content>

    <ion-thumbnail>
        <img [src]="data.img" />
    </ion-thumbnail>
    <h3 position="fixed" style="margin-top: 20px; margin-left: 10px; font-weight: bold;">Detalles:</h3>

    <ion-item>
        <ion-label position="fixed">Nombre:</ion-label>
        <ion-label> {{data.nombre}}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label position="fixed">Edad:</ion-label>
        <ion-label> {{data.edad}}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label position="fixed">Discapacidad:</ion-label>
        <ion-label> {{data.discapacidades}}</ion-label>
    </ion-item>

    <h3 position="fixed" style="margin-top: 20px;margin-left: 10px; font-weight: bold;">Requisitos:</h3>
    <ion-item>
        <ion-label>{{data.requisitos}}</ion-label>
    </ion-item>

    <h3 position="fixed" style="margin-top: 20px;margin-left: 10px; font-weight: bold;">Historia:</h3>
    <ion-item>
        <p>{{data.historia}}</p>
    </ion-item>

    <div style="text-align: center; margin-top: 15px;">
        <ion-button (click)="Eadoptar()">
            <ion-icon slot="start" name="shield-checkmark-outline"></ion-icon>
            Adoptar
        </ion-button>
    </div>







</ion-content>